# Only track the kopdes_kedungsana project; ignore everything else at repo root
/*

!/kopdes_kedungsana
!/.gitignore

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
